* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 14px;
}
.v11_125 {
  width: 100%;
  height: 100vh;
  background: rgba(80,84,163,1);
  opacity: 1;
  position: relative;
  overflow: hidden;
}
.v48_17 {
  width: 100%;
  height: 100%;
  background: url("../images/v47_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_128 {
  width: 642px;
  height: 476px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 640px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v2167_230 {
  width: 70px;
  height: 33px;
  background: rgba(153,60,60,1);
  opacity: 1;
  position: absolute;
  top: 660px;
  left: 659px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v11_145 {
  width: 54px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 665px;
  left: 667px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v2135_180 {
  width: 100%;
  height: 125px;
  background: rgba(78,42,42,0.718999981880188);
  opacity: .8;
  position: absolute;
  top: 840px;
  left: 0px;
  overflow: hidden;
}
.v2075_269 {
  width: 393px;
  height: 285px;
  background: url("../images/v2075_269.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 720px;
  overflow: hidden;
}
.v11_141 {
  width: 393px;
  color: rgba(127,36,36,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v11_150 {
  width: 183px;
  height: 58px;
  background: url("../images/v11_150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 105px;
  overflow: hidden;
}
.v11_146 {
  width: 183px;
  height: 58px;
  background: rgba(92,92,92,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v11_142 {
  width: 153px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 15px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v11_148 {
  width: 323px;
  height: 58px;
  background: url("../images/v11_148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 35px;
  overflow: hidden;
}
.v11_147 {
  width: 284px;
  height: 58px;
  background: rgba(92,92,92,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v11_143 {
  width: 323px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v2135_179 {
  width: 100%;
  height: 106px;
  background: url("../images/v2135_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 870px;
  left: 42px;
  overflow: hidden;
}
.v2135_181 {
  width: 521px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v2135_182 {
  width: 625px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v2135_183 {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 877px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v2135_184 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 53px;
  left: 877px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v2135_185 {
  width: 295px;
  color: rgba(212,212,212,1);
  position: absolute;
  top: 53px;
  left: 1508px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v48_22 {
  width: 460px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 84px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
a {
  overflow-x: hidden;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
