* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 14px;
}
.vЭкран {
  max-width: 100%;
  height: 100vh;
  background: rgba(80,84,163,1);
  opacity: 1;
  position: relative;
  overflow: hidden;
}
.vФонДляГлавногоЭкрана {
  width: 100%;
  height: 100vh;
  background: url("../images/vФонДляГлавногоЭкрана.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.vПодвал {
  width: 100%;
  background: rgb(0, 0, 0);
  opacity: 0.5;
  position: fixed; 
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 60px; /*  отступ для содержимого  */
}
  
.vПодвал-content {
    /*  Стили для содержимого подвала  */
  color: white;
  text-align: center;
}
.vРегистрация {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 110px;
  right: 93px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: right;
}
.vВход {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 55px;
  right: 75px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: right;
  padding: 0;
}
a {
  overflow-x: hidden;
  text-decoration: none;
  color: white;
} 
.vТелефон {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  bottom: 60px;
  left: 40px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.vПочта {
  width: auto;
  color: rgba(255,255,255,1);
  position: absolute;
  bottom: 10px;
  left: 40px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.vГруппаЛого {
  width: 100%;
  height: 357px;
  background: url("../images/v47_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin: 23px auto;
  opacity: 1;
  position: absolute;
  top: 100px;
  overflow: hidden;
  
}
.vЛого {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.vОценка {
  width: 100%;
  letter-spacing: .2rem;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 426px;
  left: 51%;
  transform: translateX(-50%);
  font-family: Times New Roman;
  font-weight:lighter;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}
.v©GradeWise {
  width: auto;
  color: rgba(160,160,160,1);
  position: absolute;
  bottom: 10px;
  right: 40px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: right;
}
.vОСайте {
  width: 100%;
  color:rgba(255, 255, 255, 1);
  position: absolute;
  bottom: 60px; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.vКонтакты {
  width: auto;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  bottom: 10px;
  left: 50.2%;
  transform: translateX(-50%);
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.hr-line {
  border-top: 4px solid #ffffff;
  width: 30%; /*  Изменили ширину на 50%  */
  position: absolute;
  bottom: 150px;
  top: 65%;
  left: 35%;
  margin: 0 auto; /*  Центрируем линию по горизонтали  */
  text-align: center;
}
/* Адаптивные стили */

@media (max-width: 768px) {
  .v©GradeWise {
    font-size: 15px; /*  Уменьшаем размер шрифта  */
    right: 20px; /*  Сдвигаем элемент ближе к краю  */
  }
  .vЛого {
    font-size: 45px;
  }
  .vОценка {
    font-size: 30px;
  }
  .vОСайте {
    font-size: 13px; /*  Уменьшаем размер шрифта  */
  }

  .vКонтакты {
    font-size: 13px; /*  Уменьшаем размер шрифта  */
    bottom: 50px; /*  Сдвигаем элемент вниз  */
  }

  .vТелефон {
    font-size: 13px; /*  Уменьшаем размер шрифта  */
    bottom: 50px;
    left: 20px;/*  Сдвигаем элемент вниз  */
  }

  .vПочта {
    font-size: 13px; /*  Уменьшаем размер шрифта  */
    bottom: 80px;
    left: 20px;/*  Сдвигаем элемент вниз  */
  }
.vПодвал {
  height: auto; 
}
}
